* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  /*padding: 20px;*/
  /*height: 100vh; */ 
  margin: 0;
  background-color:rgba(245, 245, 245, 1);
}

.container {
  padding: 20px;
  /*max-width: 984px;*/
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  max-width: 1024px;
}

.table-container {
  max-width: 984px;
  padding: 0;
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(176, 190, 197, 0.5);
  z-index: 9;
}

.header__container {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__logo {
  margin-right: 50px;
}

.header__input {
  width: 581px;
  height: 44px;
  padding: 12px 0 13px 16px;
  border: 1px solid rgba(176, 176, 176, 1);
  color: rgba(176, 176, 176, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.btn {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.add-client, .edit-client {
  /*padding: 24px 30px 29px 30px;*/
  display: none;
  flex-direction: column;
  min-width: 450px;
  min-height: 400px;
  background-color: #fff;
  position: fixed;
  top: 10%;
  left: 30%;
  z-index: 10;
}

.add-client__form, .edit-client__form {
  display: flex;
  flex-direction: column;
}

.modal-show {
  display: flex;
}

.add-client__header-block, .edit-client__header-block {
  display: flex;
  justify-content: space-between;
}

#input-lastname {
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.remove-item, .edit-item {
  cursor: pointer;
}

.contact-type-list {
  padding: 10px 0px 1px 10px;
  margin-left: 10px;
  list-style: none;
  padding-left: 0;
  display: none;
  margin: 0;
  background-color: #F4F3F6;
  border: 1px solid rgba(200, 197, 209, 1);
}

.contact-type {
  padding-left: 10px;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
}

.block-show {
  display: block;
}

.contact-type {
  cursor: pointer;
}

tr {
  display: flex;
  align-items: flex-end;
}

.tr {
  width: 984px;
  height: 60px;
  background-color: #fff;
  align-items: center;
  border-bottom: 1px solid rgba(176, 176, 176, 1);
}

th {
  display: inline;
  padding: 20px;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  color: rgba(176, 176, 176, 1);
  cursor: pointer;
}

td {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.table-header {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.68px;
}

table {  
  position: relative;
  display: block;
}

.th-id {
  margin-right: 45px;
  margin-left: 20px;
}

.th-name {
  padding-right: 0;
  margin-right: 64px;
}

.th-created {
  padding-right: 0;
  max-width: 82px;
  margin-right: 76px;
}

.th-modified {
  padding-right: 0;
  max-width: 82px;
  margin-right: 82px;
}

.th-contacts {
  padding-right: 0;
  margin-right: 94px;
}

.td-id {
  margin: 12px 8px 11px 20px;
  color: rgba(176, 176, 176, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  width: 62px;
}

.td-name {
  margin: 10px 0 10px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  width: 241px;
}

.time {
  color: rgba(176, 176, 176, 1);
}

.td-created, 
.td-modified {
  width: 138px;
  margin: 10px 29px 0 0;
  font-size: 14px;
  line-height: 19px;
}

.td-contacts {
  width: 108px;
  margin: 10px 20px 0 0;
  font-weight: 700;
  font-size: 12px;
}

/*.td-actions {
  padding-right: 20px;
}*/

.arrow-icon {
  margin-bottom: -2px;
  margin-left: -3px;
}

.letters-icon {
  margin-left: -3px;
}

.edit-btn,
.delete-btn {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.icon-block {
  display: inline;
  margin: 0;
  margin-right: 4px;
  position: relative;
  width: 16px;
}
.tooltip {
  padding: 7px 14px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 160%;
  left: -420%;
  min-width: 150px;
  min-height: 37px;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms linear;
}
.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.icon-block:hover .tooltip{
  visibility: visible;
  opacity: 0.7;
}

.tooltip-text {
  position: absolute;
  color: #fff;
  width: inherit;
}

.add-client__btn {
  display: block;
  width: 216px;
  box-sizing: border-box;
  padding: 0;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  border: 2px solid #9873FF;
  background-color: transparent;
  color: #9873FF;
  transition: background-color 250ms linear, color 250ms linear;
}

.add-client__btn:hover {
  background-color: #c3b0f8;
  color: #fff;
}

.new-client-icon {
  margin-bottom: -3px;
  margin-right: 3px;
}

.add-client__header {
  margin: 0;
  font-size: 18px;
  line-height: 24.5px;
}

.close-icon {
  margin-right: -6px;
}

.add-client__header-block {
  margin-bottom: 32px;
}

.add-client__input, .edit-client__input {
  margin-bottom: 32px;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.input-block-name {
  display: flex;
  flex-direction: column;
  position: relative;
}

.star-name {
  position: absolute;
  left: 30px;
  top: 2px;
  color: #9873FF;
}

.input-block-surname {
  display: flex;
  flex-direction: column;
  position: relative;
}

.star-surname {
  position: absolute;
  left: 64px;
  top: 2px;
  color: #9873FF;
}

.add-client__new-contact, .edit-client__new-contact {
  display: block;
  text-decoration: none;
  align-self: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: black;
  background-color: rgba(231, 229, 235, 1);
  padding: 8px 0;
  padding-left: 180px;
  padding-right: 180px;
}

.plus-icon {
  margin-bottom: -3px;
  margin-right: -2px;
}

.add-client__top, .edit-client__top {
  padding: 24px 30px 29px 30px;
}

.add-client__bottom, .edit-client__bottom {
  display: flex;
  flex-direction: column;
  padding: 25px 150px;
  align-items: center;
}

.add-client__save-btn, .edit-client__save-btn {
  margin: 0;
  margin-bottom: 5px;
  background-color: rgba(152, 115, 255, 1);
  color: #fff;
  border: none;
  border-radius: 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.add-client__cancel, .edit-client__delete {
  color: black;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.new-contact-block {
  display: flex;
  margin-bottom: 10px;
  width: 390px;
  height: 37px;
  align-self: center;
  position: relative;
  /*border: 1px solid #C8C5D1;*/
}

.active-type {
  background-color: rgba(231, 229, 235, 1);
  border-radius: 0px;
  border: none;
  height: 37px;
  width: 123px;
  border: 1px solid #C8C5D1;
  /*border-right: 1px solid #C8C5D1;*/
}

.add-client__input-contact {
  height: 37px;
  width: 241px;
  border: none;
  border-bottom: 1px solid #C8C5D1;
  border-top: 1px solid #C8C5D1;
}

.delete-contact-block {
  height: 37px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(231, 229, 235, 1);
  border: 1px solid #C8C5D1;
}

/*/////////////////////////////////// прелоадер*/

.preloader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

@media (max-width: 990px) {

  .table-container {
    width: 728px;
  }

  .tr {
    width: 728px;
    display: block;
  }

  tr {
    width: 728px;
    display: flex;
  }

  th {
    display: block;
  }

  td {
    padding-top: 8px;
  }

  .th-id {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    width: 25px;
    text-align: left;
  }

  .th-name {
    margin: 0;
    margin-left: 35px;
    padding: 0;
    width: 170px;
    text-align: left;
  }

  .th-created {
    margin: 0;
    margin-left: 49px;
    padding: 0;
    width: 82px;
    text-align: left;
  }

  .th-modified {
    margin: 0;
    margin-left: 16px;
    padding: 0;
    width: 82px;
    text-align: left;
  }
  
  .th-contacts {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    width: 56px;
    text-align: left;
  }

  .th-actions {
    margin: 0;
    margin-left: 73px;
    padding: 0;
    width: 55px;
    text-align: left;
  }

  .td-id {
    width: 80px;
    margin: 0;
    padding: 12px 8px 12px 18px;
  }

  .td-name {
    width: 218px;
    padding-right: 37px;
    margin: 0;
  }

  .td-created, .td-modified {
    width: 98px;
    padding-right: 26px;
  }

  .td-contacts {
    width: 119px;
    padding-right: 11px;
  }

  .edit-btn, .delete-btn {
    padding: 0;
  }

  .add-client, .edit-client {
    max-width: 450px;
    min-height: 400px;
  }

  .add-client__new-contact, .edit-client__new-contact {
    width: 450px;
    padding-left: 150px;
    padding-right: 151px;
  }

}

@media (max-width:670px) {
  .header__container {
    justify-content: center;
    margin-bottom: 30px;
  }

  .header__input {
    display: none;
  }

  .header__logo {
    width: 24px;
    height: 24px;
  }

  .table-header {
    font-size: 18px;
  }

  .add-client, .edit-client {
    max-width: 300px;
    min-width: unset;
    min-height: 400px;
    left: 10px;
    top: 150px;
  }

  .add-client__new-contact, .edit-client__new-contact {
    width: 300px;
    padding: 8px 75px;
  }

  .overlay {
    width: 100%;
    height: 100%;
  }

  .new-contact-block {
    width: 270px;
  }

  .delete-contact-block {
    display: none;
  }

  .active-type {
    width: 110px;
  }

  .add-client__input-contact, .edit-client__input-contact {
    width: 160px;
    border: 1px solid #C8C5D1;
    border-left: none;
  }

  .add-client__cancel, .edit-client__delete {
    width: 100px;
  }
}